	body {
		font-family: Arial, sans-serif;
		background-color: #1a1a1d;
		color: #c5c6c7;
		margin: 0;
		padding: 20px;
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
			
	.form {
		flex-wrap:wrap;
		margin: 5px;
		padding: 10px;
		background-color: #222;
		border-radius: 4px;
		width: 100%;
		max-width: 600px;	
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		animation: fadeIn 2s ease-out forwards;
		margin: 5px;
		
	}		
			
	.form2 {
		display:flex;
		align-items: center;
		flex-wrap:wrap;
		margin: 10px;
		
	}


			
	textarea {
		max-width: 100%;
		min-height: 60px;
		resize: vertical;
		font-size: 14px;
	}

	h1, h2, h3, h4, a {
		animation: fadeIn 1s ease-out forwards;
	}

	h1 {
		color: #ffffff;
		text-align: center;
		font-size: 2em;
		margin-top: 0;
	}

	h2 {
		text-align: center;
		color: #fd6262;
		margin-top: 20px;
	}

	h3 {
		color: #c5c6c7;
		margin: 5px 0;
	}

	a {
		color: #889ce7;
		text-decoration: none;
		transition: color 0.3s ease;
	}

	a:hover {
		color: #45a29e;
	}

	label {
		font-weight: bold;
		margin-top: 10px;
		color: #c5c6c7;
	}

	.logo {
		width: 100%;
		max-width: 600px;
		margin-top: 10px;
		margin-bottom: 20px;
	}

	input[type="text"],
	input[type="date"],
	textarea {
		font-family: Arial, sans-serif;
		width: 100%;
		padding: 10px;
		margin-top: 10px;
		border: 1px solid #c5c6c7;
		border-radius: 8px;
		background-color: #333;
		color: #f0f0f0;
		font-size: 16px;
		animation: slideIn 1.5s ease-out forwards;
		transition: border-color 0.3s ease;
	}

	input[type="text"]:focus,
	input[type="date"]:focus,
	textarea:focus {
		border-color: #fd6262;
		outline: none;
	}

	input[type="text"]:hover,
	input[type="date"]:hover,
	textarea:hover {
		border-color: #fd6262;
		transition: border-color 0.3s ease; /* Smooth transition effect */
	}


	button {
		background-color: #fd6262;
		color: white;
		padding: 12px 25px;
		border: 2px solid #fd6262;
		border-radius: 8px;
		cursor: pointer;
		font-size: 16px;
		margin-top: 50px;
		transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, transform 0.2s ease;
		outline: none;
		width: 100%;
	}

	button:hover {
		background-color: #ff7b7b;
		transform: scale(1.03);
	}

	button:active {
		background-color: transparent;
		color: #fd6262;
		border-color: #fd6262;
		transform: scale(0.99);
		transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
	}

	button:focus {
		outline: none;
		box-shadow: none;
		background-color: #fd6262;
	}


	#homeworkList {
		margin-top: 20px;
		padding: 15px;
		background-color: #333333c5;
		border-radius: 8px;
		width: 97%;
		max-width:570px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		animation: fadeIn 2s ease-out forwards;
	}

	.homeworkItem {
		border: 1px solid #333;
		padding: 10px;
		margin-bottom: 10px;
		border-radius: 5px;
		background-color: #333;
		color: #f0f0f0;
		transition: transform 0.2s ease;
	}

	.homeworkItem:hover {
		transform: scale(1.03);
	}


	footer {
		text-align: center;
		margin-top: 20px;
		font-size: 14px;
		color: #666;
	}

	@keyframes fadeIn {
		from { opacity: 0; }
		to { opacity: 1; }
	}

	@keyframes slideIn {
		from { transform: translateX(-20px); opacity: 0; }
		to { transform: translateX(0); opacity: 1; }
	}
